<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/icon/learning.svg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-content padding class="loginCss">
	<ion-card>

		<ion-item>
      		<ion-avatar>
        		<img src="assets/learning.png">
      		</ion-avatar>
    	</ion-item>

		<ion-card-content>

				<ion-list>

  					<ion-item>
    					<ion-label stacked>Email</ion-label>
    					<ion-input type="text" [(ngModel)]="loginData.email"></ion-input>
  					</ion-item>

  					<ion-item>
    				  <ion-label stacked>Password</ion-label>
    					 <ion-input type="{{type}}" [(ngModel)]="loginData.password"></ion-input>
  					   
               <!--  <button *ngIf="!showPass" ion-button clear type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off"></ion-icon></button>
                <button *ngIf="showPass" ion-button clear type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye"></ion-icon></button> -->
                
             </ion-item>

				</ion-list>

        <div class="btnWrap">
          <button ion-button (click)="getAuth()">LOGIN</button>
        </div>

        <ion-row class="alt-options">
          <ion-col no-padding width-50>
            <button ion-button block clear class="forgot-button" (click)="getForgot()">FORGOT</button>
          </ion-col>
          <ion-col no-padding width-50>
            <button ion-button block clear class="signup-button" (click)="getRegister()">REGISTER</button>
          </ion-col>
        </ion-row>
			
		</ion-card-content>

	</ion-card>
</ion-content>