ion-avatar img {
    margin: auto;
    max-width: 100% !important;
    max-height: 100% !important;
    width: 130px !important;
    height: auto !important;
    border-radius: 50%;
    margin-top: -75px;
}

ion-item img{
	height: 150px;
	width: 100%;
	background-position: center center;
}