	.introCss .profile-image {
  		display: block;
  		border-radius: 120px;
  		border: 1px solid #fff;
  		width: 128px;
  		height: 128px;
  		max-width: 128px;
  		max-height: 128px;
  		margin: 60px auto 0;
	}