page-messages {
	.messageCss ion-avatar img {
    	max-width: 100% !important;
    	max-height: 100% !important;
    	width: 50px !important;
    	height: auto !important;
	}

	img {
		margin: auto;
	}
}
